@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap');

// Typography
$bodyFont: 'Barlow';
$headerFont: 'Fraunces';

// Colors
$primary: hsl(43, 78%, 98%);
$secondary: hsl(215, 19%, 25%);
$accent: hsl(179, 81%, 29%);
$orangeText: hsl(25, 94%, 86%);
$greyText: hsl(215, 5%, 54%);